@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Dancing+Script:wght@400..700&family=Mate:ital@0;1&display=swap');

:root {
  --primary-color: #137547;
  --secondary-color: #38405F;
  --accent1-color: #22AED1;
  --accent2-color: #F1EccE;

  --heading-font: calligraffitti, serif;
  --paragraph-font: Mate,'times new roman', serif;

  --nav-background-color: #F1ECCE;
  --nav-link-color: blue;
  --nav-hover-link-color: rgb(0, 0, 192);
  --nav-hover-background-color: #96927e;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color:var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}